.bio{
    background-image: linear-gradient(rgb(93, 72, 214), rgb(13, 45, 63));
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 160px;
}
.bio .text{
    margin: 30px 0px 100px 0px;
}
.bio div{
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    margin: 30px 40px 0px 40px;
}
.bio #hello{
    font-weight: 600;
    font-size: 18px;
}
