.bio{
    background-image: linear-gradient(rgb(93, 72, 214), rgb(13, 45, 63));
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 160px;
}
.bio .text{
    margin: 0 auto;
    padding: 20px;
}
.bio ul{
    list-style-type: none;
    margin-top: 30px;
}
.bio div{
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    margin: 30px 40px 0px 40px;
    font-size: 20px;
    padding: 20px;
}
.bio .hello{
    font-weight: 600;
    font-size: 24px;
}