.footer{
    width: 100%;
    height: auto;
    color: darkblue;
    display: flex;
    justify-content: center;
}
.footer div{
    margin: 10px;
}
.footer img{
    width: 40px;
    height: auto;
    margin: 10px auto;
}