*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    background-image: url("images/background_blue.jpg");
    min-height: 828px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}