.title{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../images/background_blue.jpg);
}
.title div{
    text-align: center;
    color: #fff;
    font-family: 'Michroma', sans-serif;
    margin: 80px 20px 0px 20px;
}
.title #gorgeous{
    color: #D0D0D0;
    margin: 0px 20px 100px 20px;
}