.work{
    background-image: linear-gradient(rgb(13, 45, 63), rgb(93, 72, 214));
    width: 100%;
    height: auto;
}
.work div{
    color: white;
    text-align: center;
    margin: 10px auto;
}
.work .head{
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: 30px;
}
.work .email{
    font-family: 'PT Sans' sans-serif;
    width: 70%;
}

.work .projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.work .projects div{
    width: 30%;
}
.work .projects img{
    width: 80%;
    height: auto;
    margin: 10px auto;
}

@media only screen and (min-width: 600px){
    .work .projects{
        flex-direction: row;
    }
}



//Link styling
.work a:link{
    font-weight: bold;
    color: rgb(149, 193, 229);
    text-decoration: none;
}